.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}


.tabsContainer {
  margin-bottom: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.tab {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;

}

.activeTab {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #009826;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
}

.searchContainer {
  width: 70%;
  margin-left: 4px;
  margin-right: 4px;
}

.searchInput {
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icons {
  display: flex;
  gap: 5px;

  button {
    background-color: transparent;
    border: transparent;
    margin: 5px;
    border-radius: 100000000px;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 9px;
      padding-right: 9px;
    }

    &:hover {
      background-color: #007d1a;
    }

    &.active {
      background-color: #03af2e;

      span {
        background-color: #00000034;
        border-radius: 100%;
      }
    }
  }
}

.tableContainer {
  width: 100%;
  overflow: auto;
  border-radius: 4px;
  scrollbar-width: none;
}

.table {
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thead {
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  height: 40px;

  span {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
  }
}

.td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  word-break: break-word;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: #ddd;
  }

  &:last-child {
    border-bottom: none;
  }
}

.listContent {
  max-height: 220px;
  overflow-y: scroll;
  font: normal 400 14.5px/1.8 'Montserrat', sans-serif;
}

.modalOverlay {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.content {
  max-height: 600px;
  overflow-y: scroll;
}

.modalButton {
  color: black;
  border: none;
  float: right;
  background-color: transparent;
  border-radius: 100%;
  margin: 5px;
  width: 25px;
  height: 25px;

  &:hover {
    color: white;
    background-color: #282c34;
  }
}

.modalTitle {
  font-size: 1.875rem;
  margin-bottom: .5rem;
}

.overflowHidden {
  overflow: hidden;
}


@media screen and (max-width: 800px) {
  .modalOverlay {
    padding: 15px;
  }

  .searchContainer {
    width: 50%;
    margin-left: 9px;
    margin-right: 9px;
  }
}


.frameworkImage {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 30px;
  border-radius: 8px;
  height: 21px;
}

.frameworkInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .modalContent {
    max-width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .modalContent {
    width: auto;
  }
}