body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ffffff 0%, #009826 100%);
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header {
  display: flex;
  height: 55%;
  width: 100%;
}

.melvin {
  margin-left: 2%;
  margin-right: 2%;
}

.perks {
  width: 100%;
}

.projects {
  padding-left: 15px;
  padding-right: 15px;
}


.page {
  position: relative;
  z-index: 2;
}


.line {
  background-color: #009826;
  position: absolute;
  transform-origin: left center;
  animation: lineGrow 2s ease-in-out infinite alternate;
}

.line1 {
  width: 500px;
  height: 1%;
  top: 8%;
  left: 5%;
}

.line2 {
  width: 1%;
  height: 500px;
  top: 20%;
  left: 24%;
  animation: lineShrink 2s ease-in-out infinite alternate;
}

.line3 {
  width: 1%;
  height: 500px;
  top: 30%;
  left: 38%;
  animation: lineGrow 2s ease-in-out infinite alternate;
}

.line4 {
  width: 500px;
  height: 1%;
  top: 40%;
  left: 40%;
  animation: lineShrink .5s ease-in-out infinite alternate;
}

.line5 {
  height: 300px;
  width: 3%;
  top: 50%;
  left: 50%;
  animation: lineShrink 2s ease-in-out infinite alternate;
}


.line6 {
  height: 500px;
  width: 1%;
  top: 20%;
  left: 93%;
  animation: lineGrow 2s ease-in-out infinite alternate;
}

.btn {
  display: inline-flex;
  align-items: center;
  background-color: #282c34;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.btn svg {
  margin-right: 10px;
}

.btn:hover {
  background-color: #009826;
}

.btn:active {
  background-color: #009826;
}

/* Animaciones */

@keyframes lineGrow {
  from {
    transform: scaleX(0);
    opacity: 0.5;
  }

  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes lineShrink {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0.5;
  }
}



@media screen and (max-width: 800px) {
  body {
    height: auto;
    overflow: auto;
  }

  .container {
    height: auto;
    gap: 1px;
  }

  .header {
    flex-flow: column wrap;
  }

  .projects {
    margin-bottom: 30px;
  }

  .line {
    position: absolute;
  }

  .line1 {
    width: 400px;
    height: 5px;
  }

  .line4 {
    width: 350px;
    height: 10px;
  }

  .line2,
  .line3,
  .line5 {
    width: 8px;
  }
}