.bodyModal {
    padding: 20px 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 15px;

    div {
        max-width: 500px;
        text-align: center;
    }

    p {
        margin: 0 0 15px;
        font-size: 18px;
        line-height: 1.5;
        color: #333;
    }
}

.row1 {
    width: 35%;
}

.row2 {
    width: 65%;
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.framework {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.frameworkContainer {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.frameworkCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tecnologies {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologiesContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tecnologiCard {
    display: flex;
    width: 15%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.TecnologiesImage {
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.frameworkImage {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.tecnologiesTitle {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

@media screen and (max-width: 900px) {
    .row2 {
        padding-left: 10px;

        p {
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;

        div {
            max-width: 500px;
        }

        .row1 {
            width: auto;
        }

        .row2 {
            width: auto;

            p {
                font-size: 18px;
            }
        }

    }

    .tecnologies {
        width: auto;
    }

    .framework {
        width: auto;
    }

    .footer {
        gap: 35px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tecnologiesContainer {
        justify-content: center;
        gap: 35px;

        span {
            font-size: 14px;
        }
    }
}